<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.spring.cloud.alibaba.seata.mapper.TbOrderItemMapper">
  <resultMap id="BaseResultMap" type="com.funtl.spring.cloud.alibaba.seata.domain.TbOrderItem">
    <!--@mbg.generated generated on Tue Dec 31 04:37:24 CST 2019.-->
    <!--@Table tb_order_item-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="order_item_id" jdbcType="INTEGER" property="orderItemId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Dec 31 04:37:24 CST 2019.-->
    id, user_id, order_id, order_item_id
  </sql>
</mapper>