<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.oauth2.resource.mapper.TbContentCategoryMapper">
  <resultMap id="BaseResultMap" type="com.funtl.oauth2.resource.domain.TbContentCategory">
    <!--@mbg.generated generated on Sat Apr 06 17:19:12 CST 2019.-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="is_parent" jdbcType="BIT" property="isParent" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sat Apr 06 17:19:12 CST 2019.-->
    id, parent_id, `name`, `status`, sort_order, is_parent, created, updated
  </sql>
</mapper>